.App {
  text-align: center;
}

.header {
  background-color: #222;
  text-align: center;
  height: 70px;
  padding: 5px;
  color: white;
}
.header h3 {
  display: inline-block;
}
.profile {
  width: 150px;
  height: 150px;
}

.panel {
  border: 1px dotted;
  min-height: 100px;
}

.footer {
  background-color: #222;
  text-align: center;
  position: fixed;
  margin-bottom: 0px;
  width: 100%;
  left: 0px;
  height: 50px;
  padding: 15px;
  bottom: 0;
  color: white;
}

textarea {
   resize: none;
}
